<h2>Poliwag 🦆</h2>
<div>
	You have <b>19</b> days left of your trial. You can gain up to 7 extra days of free access to the FT by exploring more articles,
	click on a badge below to get started.
</div>
<h3>Explore</h3>
<div>
	{{#each medals}}
	<p>{{name}} {{current}}/{{max}}</p>
	{{/each}}
</div>