

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>Poliwag 🦆</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <h2>Do some stuff here</h2>
    {{{body}}}
  <script type="text/javascript" src="js/button.js"></script>
</body>

</html>

<div>
  <input class="input-box" type="text">
  <button class="search-button"> No button needed</button>
  <div class="user-details"></div>
  <div class="user-lists"></div>
</div>



